body {
    background-image: url("../img/lolrpg_bg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-color: #000000;
}

.pln, .phn, .pan { padding-left: 0px; }
.prn, .phn, .pan { padding-right: 0px; }
.ptn, .pvn, .pan { padding-top: 0px; }
.pbn, .pvn, .pan { padding-bottom: 0px; }

.pl3, .ph3, .pa3 { padding-left: 3px; }
.pr3, .ph3, .pa3 { padding-right: 3px; }
.pt3, .pv3, .pa3 { padding-top: 3px; }
.pb3, .pv3, .pa3 { padding-bottom: 3px; }

.pls, .phs, .pas { padding-left: 5px; }
.prs, .phs, .pas { padding-right: 5px; }
.pts, .pvs, .pas { padding-top: 5px; }
.pbs, .pvs, .pas { padding-bottom: 5px; }

.plm, .phm, .pam { padding-left: 10px; }
.prm, .phm, .pam { padding-right: 10px; }
.ptm, .pvm, .pam { padding-top: 10px; }
.pbm, .pvm, .pam { padding-bottom: 10px; }

.pll, .phl, .pal { padding-left: 20px; }
.prl, .phl, .pal { padding-right: 20px; }
.ptl, .pvl, .pal { padding-top: 20px; }
.pbl, .pvl, .pal { padding-bottom: 20px; }

.plxl, .phxl, .paxl { padding-left: 40px; }
.prxl, .phxl, .paxl { padding-right: 40px; }
.ptxl, .pvxl, .paxl { padding-top: 40px; }
.pbxl, .pvxl, .paxl { padding-bottom: 40px; }

.mln, .mhn, .man { margin-left: 0px !important; }
.mrn, .mhn, .man { margin-right: 0px !important; }
.mtn, .mvn, .man { margin-top: 0px !important; }
.mbn, .mvn, .man { margin-bottom: 0px !important; }

.mls, .mhs, .mas { margin-left: 5px !important; }
.mrs, .mhs, .mas { margin-right: 5px !important; }
.mts, .mvs, .mas { margin-top: 5px !important; }
.mbs, .mvs, .mas { margin-bottom: 5px !important; }

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.fnts {
    font-size: .8em;
}

.w250 {
    width: 250px;
}

.lolrpg-row-check:hover {
    cursor: pointer;
}

#lolrpg-container {
}

#lolrpg-container hr {
    border-top: 1px solid #c8c8c8;
}

.lolrpg-logo-container {
    margin-bottom: -54px;
}

.lolrpg-logo {
    position: relative;
    z-index: 1000;
}

#lolrpg-login-state {
    height: 100%;
    background-image: url('http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Sona_0.jpg');
    background-size: 100%;
    height: 530px;
}

#lolrpg-login-state .login-information-container {
    background-color: rgba(8, 4, 46, 0.75);
    -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.8);
    box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.8);
    height: 400px;
}

#champ-splash {
    width: 100%;
    height: 530px;
    background-image: url('/img/champ_select_splash_1.jpg');
    background-size: 100%;
}

#champion-stat-panel {
    background-color: rgba(46, 8, 7, 0.75);
    -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.8);
    box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.8);
    height: 400px;
}

.champion-select-header {
    font-size: 32px;
    color: #cdcdcd;
    text-shadow: 4px 4px 2px rgba(11, 0, 0, 0.5);
}

#difficulty-selection-modal .modal-dialog {
    width: 380px;
}

.diffiuclty-select-icon {
    width: 64px;
    height: 64px;
}

.circular {
    width: 50px;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    /*background: url(http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/Aatrox.png) no-repeat;*/
}

